<div style="float: right;list-style: none; margin-top: 30px">
<li id="link-to-cart" class="btn" data-hook style="list-style: none;float: left;margin-right: 20px"><i class=" icon-large icon-shopping-cart"><%= link_to_cart %></i></li>
<% if spree_current_user %>
  <li style="float: left" class="btn">
    <%= link_to Spree.t(:logout), spree_logout_path, :method => :delete %>
  </li>
<% else %>
  <li style="float: left" class="btn">
    <%= link_to Spree.t(:login), spree_login_path %>
  </li>
  <li style="float: left" class="btn">
    <%= link_to Spree.t(:signup), spree_signup_path %>
  </li>
<% end %>

</div>
