<div class="row-fluid container content-page" id="contact_us">
  <h3>Contact Us</h3>
  <!-- MAIN CONTENT -->
  <div id="content" class="span8" style="margin: 0px;">
    <div class="st-content">
      <div class="contact-form">
        <form id="contact-form" action=" " method="post" class="form-validate form-horizontal">
          <fieldset>
            <legend style="color:#005580">
              Send an email. All fields with an * are required.
            </legend>
            <div class="control-group">
              <div class="control-label">
                <label id="jform_contact_name-lbl" for="jform_contact_name" class="hasTip required" title="">Name<span class="star">&nbsp;*</span></label>
              </div>
              <div class="controls">
                <input type="text" name="jform[contact_name]" id="jform_contact_name" value="" class="required" size="30" required="required" aria-required="true">
              </div>
            </div>
            <div class="control-group">
              <div class="control-label">
                <label id="jform_contact_email-lbl" for="jform_contact_email" class="hasTip required" title="">Email<span class="star">&nbsp;*</span></label>
              </div>
              <div class="controls">
                <input type="email" name="jform[contact_email]" class="validate-email required" id="jform_contact_email" value="" size="30" required="required" aria-required="true">
              </div>
            </div>
            <div class="control-group">
              <div class="control-label">
                <label id="jform_contact_emailmsg-lbl" for="jform_contact_emailmsg" class="hasTip required" title="">Subject<span class="star">&nbsp;*</span></label>
              </div>
              <div class="controls">
                <input type="text" name="jform[contact_subject]" id="jform_contact_emailmsg" value="" class="required" size="60" required="required" aria-required="true">
              </div>
            </div>
            <div class="control-group">
              <div class="control-label">
                <label id="jform_contact_message-lbl" for="jform_contact_message" class="hasTip required" title="">Message<span class="star">&nbsp;*</span></label>
              </div>
              <div class="controls">
                <textarea name="jform[contact_message]" id="jform_contact_message" cols="30" rows="10" class="required span10" required="required" aria-required="true"></textarea>
              </div>            
            </div>
            <div class="form-actions">
              <button class="st-button validate" type="submit">
                Send Email
              </button>
            </div>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
  <!-- //MAIN CONTENT -->

  <!-- SIDEBAR 2 -->
  <div class="span4">
    <div class=" module">
      <div class="module-inner">
        <h3 class="module-title"><span style="color:#005580">Other Information</span></h3>
        <div class="module-ct">

          <div class="custom">
            <p>
              At vero eos et accusamus et iusto odios un dignissimos ducimus qui blan ditiis prasixer esentium voluptatum un deleniti atqueste sites excep turiitate non providentsimils.
            </p>
            <p>
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, consequunturser magni dolores eos qui ratione voluptatem sequi nesciunt.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>