<div class="container content-page">
  <h3>PR CONTACT INFORMATION</h3>
  <br />
  <hr />
  <h3>Press Contacts</h3>
  <p><span>For any PR enquiries please contact our PR agency Little Red Rooster:</span>&nbsp;</p>
  <p><span><a href="mailto:PR@example.com">PR@example.com</a></span>&nbsp;</p>
  <p>Henry Griffiths</p>
  <p>M: 07723 002061<br> L: 01400 231404&nbsp;</p>
  <p><span><span>Victoria Ruffy<br> </span></span>L: 01189018828<br> M: 07841997886&nbsp;</p>
  <h3>Press Images</h3>
  <p>Contact&nbsp;<a href="mailto:pr@example.com">pr@example.com</a>&nbsp;for image requests.</p>
  <h3>Review Programme</h3>
  <p class="MsoNormal">If you have a review website, blog or YouTube channel you may be interested in joining our review programme, for more information please send your site or channel details to <a href="mailto:review@example.com">review@example.com</a>&nbsp;or <a title="Example press" href="#">click here</a> for more information.</p>
</div>
