<div class="container content-page">
  <h3>Support</h3>
  <hr />
  <p><b>Online Shop questions:<br> </b></p>
  <p>If you have any questions about anything on the online shop email us at:&nbsp;<br> <b>support@example.com</b><br> <br> We aim to answer all questions within 48 hours during weekdays.&nbsp;</p>
  <p><b>Or phone us:<br> </b>UK number:<b>&nbsp;0844 123 456<br> </b>USA number:&nbsp;<b>+1 866 123 456</b></p>
  <p><b>Product Support<br> </b>If you have a support&nbsp;related&nbsp;question please email our customer service team:&nbsp;<br> <b><b>support@example.com</b></b></p>
  <p><b><b>&nbsp;</b></b></p>
</div>
