/*
 *= require store/spree_frontend
*/
.clearfix{
  height: 10px;
  display:block;
  width: 100%;
}
header#header .row{
  margin-left:0px !important;
}
#wrapper .row{
  margin:0px !important;
}
.slide{
  display:none;
  margin-bottom:30px;
  padding:5px 0px;
  border: 1px solid #f7f7f7;
}
.slide img{
  height:450px;
}
#featured-products{
  height: 300px;
  overflow: hidden;
  border:none;
  margin-bottom:30px;
}
#featured-products .disable { 
  visibility: hidden; 
  }
#featured-products .viewport { 
  float: left; 
  width: 100%; height: 300px; 
  overflow: hidden; 
  position: relative; 
  }

ul#products {
  list-style: none;   
   padding: 0;    
   left: 0; 
   top: 0;
}
.ul-featured_product{
  position: absolute; 
  margin: 0; 
}
ul#products li.product_loop{
  height: 260px;
  width: 234px;
  float: left;
  list-style: none;
  position: relative;
  margin-bottom:30px;
}
li.li_featured_product{
  border-right:1px dotted black;
}
ul#products li.product_loop:last-child{
  border-right:none;
}

#featured-products ul#products li.product_loop .product-image{
  border: none;
  height:140px;
}
#featured-products ul#products li.product_loop .product-image a img{
  height: 150px;
}
ul#products li a.info {
margin-top: 5px;
font-size: 12px;
color: #bbbbbb;
border-bottom:none;
overflow: hidden;
height:20px;
}
/*-------------*/


footer#footer{
  padding-top:0px;
  border-top:none;
  margin-top:30px;
}
.footer-top {
  display: block
}
.footer-top ul li{
  line-height: 40px;
  text-align: center;
  display:inline;
  color: white;
  border-right: 1px solid #e4e4e4;
  padding:0 7px;
}
.footer-top ul li:last-child{
  border-right:none;
}
.footer-top ul.top-left{
  float:left;
  margin-left:0px;
}
.footer-top ul.top-right{
  float:right
}
.clo-footer h3{
  border-bottom: 1px dashed black;
  margin-bottom:15px;
}
.clo-footer ul{
  margin:0px;
}
.clo-footer ul li{
list-style: none;
}
#footer .container .span3:first-child{
  margin:0px;
}
#main-nav-bar, #main-nav-bar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#main-nav-bar {
	border: 1px solid #222;
	background-color: #111;
	background-image: linear-gradient(#444, #111);
	box-shadow: 0 1px 1px #777;
	zoom:1;
  margin-bottom:20px;
  padding-bottom:0px !important;
}
#main-nav-bar:before,
#main-nav-bar:after {
	content: "";
	display: table;
}	

#main-nav-bar:after {
	clear: both;	
}

#main-nav-bar li {
	float: left;
	border-right: 1px solid #222;
	box-shadow: 1px 0 0 #444;
	position: relative;
	padding:10px;
  text-align: center;
}

#main-nav-bar a {
	float: left;
	padding: 12px 30px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}
#main-nav-bar ul li a{
  text-transform: uppercase;
}
#main-nav-bar li:hover > a {
	color: #fafafa;
}

*html #main-nav-bar li a:hover { /* IE6 only */
	color: #fafafa;
}
#main-nav-bar ul{
	_margin: 0; /*IE6 only*/
	opacity: 0.9 !important;
	visibility: hidden;
	top: 54px;
	left: 0;
	z-index: 1;    
	background: #444;	
	background: linear-gradient(#444, #111);
	box-shadow: 0 -1px 0 rgba(255,255,255,.3);	
	border-radius: 3px;
	transition: all .2s ease-in-out;  
	position:absolute;
}
#main-nav-bar .li-category ul li{
  float:left;
}
#main-nav-bar .li-category ul div > li{
  box-shadow: none;  
}
#main-nav-bar .li-category ul li a{
  margin:auto;
}
#main-nav-bar .li-category ul ol{
  margin:15px 0 0 0;
}
#main-nav-bar .li-category ul ol li{
    width: 95%;
       
}

#main-nav-bar .li-category ul ol li a{

  float:left;
}

#main-nav-bar li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
}

#main-nav-bar ul ul.ul-child {
	top: 0;
	left: 215px;
	_margin: 0; /*IE6 only*/
	box-shadow: -1px 0 0 rgba(255,255,255,.3);	
		
}

#main-nav-bar ul li {
	float: none;
	display: block;
	border: 0;
	_line-height: 0; /*IE6 only*/
	box-shadow: 0 1px 0 #111, 0 2px 0 #666;
	text-align:left;
	padding:15px;
}

#main-nav-bar ul li:last-child {   
	box-shadow: none;    
}

#main-nav-bar ul a {    
	padding: 10px;
	width: 170px;
	_height: 10px; /*IE6 only*/
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

#main-nav-bar ul a:hover {

}
#main-nav-bar ul li:first-child > a {
	border-radius: 3px 3px 0 0;
}

#main-nav-bar ul li:first-child > a:after {
	content: '';
	position: absolute;
	left: 40px;
	top: -6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #444;
}
#main-nav-bar li.li-category ul li:first-child > a:after {
  content: '';
  position: absolute;
  left: 40px;
  top: -26px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #444;
}
#main-nav-bar li.li-category ul ol li:first-child > a:after {
  content: '';
  border-left:none;
  border-right: none;
  border-bottom:none;
}

#main-nav-bar ul ul li:first-child a:after{
	left: -6px;
	top: 50%;
	margin-top: -6px;
	border-left: 0;	
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-right: 6px solid #3b3b3b;
}

#main-nav-bar ul li:first-child a:hover:after { 
}

#main-nav-bar ul ul li:first-child a:hover:after {
	border-bottom-color: transparent; 	
}

#main-nav-bar ul li:last-child > a {
	border-radius: 0 0 3px 3px;
}

#mega_nav_categories{
  min-height:305px;
  position:absolute;
  top: 160px;
  width: 100%;
  padding-top:5px;
  display:none;
  z-index:9999999;
  opacity: 0.9;
  
}
.bg_mega_nav{
  min-height:300px;
  width: 100%;
  background: #444; 
  background: linear-gradient(#333, #111);
  box-shadow: 0 -1px 0 rgba(255,255,255,.3);
}
.bg_mega_nav a:after{
  content: '';
  position: absolute;
  left: 120px;
  top: -5px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #444;
}
.bg_mega_nav .clo-mega-nav, .bg_mega_nav .show-more-mega{
padding-top: 20px;
}
.bg_mega_nav .clo-mega-nav ul.list-category{
margin:0px 0px 10px 0px;
list-style: none;
overflow: hidden;
height:180px;
}
.bg_mega_nav .clo-mega-nav li{
padding: 5px 0px;
}
.bg_mega_nav .clo-mega-nav li a, .bg_mega_nav .show-more-mega ul li a{
color:#999999;
font-size:16px;
text-transform: uppercase;
font-weight: bold;
}
.bg_mega_nav ul li a:hover{
  color: #fafafa;
  text-decoration:none;
}
.bg_mega_nav .show-more-mega{
  display:none;
  margin-left:0px;
  position:relative;
}
.bg_mega_nav .show-more-mega p.show-main-mega{
  position: absolute;
  top: -5px;
  left: 50%;
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fafafa;
  cursor: pointer;
}
.bg_mega_nav .show-more-mega ul{
  margin:0px;
  list-style: none;
}
.bg_mega_nav .show-more-mega ul li{
padding: 15px 0px;
}

.form-actions{
  background: none !important;
  border-top: none !important;
}  
.control-label .star {
  color: red;
}
#content-help, #contact-about{
  min-height: 250px;
}
.content-page{
  min-height:320px;
}
.content-page h3{
  text-transform: uppercase;
}
ul.nav-user li{
  text-align:30px;
  list-style: none;
  margin:5px 3px 0 3px;
}
ul.nav-user li:last-child{
  margin:0px;
}
