<footer id="footer" class="sixteen columns" data-hook>
  <div style="background: black;margin-top: 0px;height:40px">
    <div class="container footer-top">
      <ul class="top-left">
        <li>&copy; Copyright 2013 <a href="#">Scrum2b</a></li>
        <li>All Rights Reserved</li>
      </ul>
      <ul class="top-right">
        <li>Privacy Policy</li>
        <li>Terms &#36; Conditions</li>
      </ul>
    </div>
  </div>
  <br />
  <div class="container">    
    <div class="span3 clo-footer">
      <h3>Our Products</h3>
      <ul>
        <% if @taxon_categories%>
          <%@taxon_categories.each do |taxon|%>
            <li><i class="icon-arrow-right"></i> &nbsp;<%= link_to taxon.name, :controller => "taxons", :action => "show", :id => taxon.permalink %></li>
          <% end %>
        <% end %>
      </ul>     
    </div>
    
    <div class="span3 clo-footer">
      <h3>SALE</h3>
      <ul>
        <li><i class="icon-arrow-right"></i> &nbsp;<a href="/products">New Arrivals</a></li>
        <li><i class="icon-arrow-right"></i> &nbsp;<a href="/products">Gift Finder</a></li>
        <li><i class="icon-arrow-right"></i> &nbsp;<a href="/products">Become an Affliate</a></li>
        <li><i class="icon-arrow-right"></i> &nbsp;<a href="/help">Help</a></li>
        <li><i class="icon-arrow-right"></i> &nbsp;<a href="/contact">Contact Us</a></li>      
      </ul>
    </div>
    
    <div class="span3 clo-footer">
      <h3>Follow Us</h3>
      <ul>
        <li><i class="icon-arrow-right"></i> &nbsp;<a href="/products">Facebook</a></li>
        <li><i class="icon-arrow-right"></i> &nbsp;<a href="/products">Twitter</a></li>
        <li><i class="icon-arrow-right"></i> &nbsp;<a href="/products">RSS Feed</a></li>
      </ul>
    </div>
    
    <div class="span3 clo-footer">
      <h3>PayPal</h3>
      <a href="#"><img alt="" title="" src="http://www.credit-card-logos.com/images/multiple_credit-card-logos-1/credit_card_logos_14.gif" width="251" height="50" border="0" /></a>
    </div>
    
  </div>
</footer>