<nav class="columns sixteen">
<ul id="main-nav-bar" class="inline" data-hook>
	<div class="container">
  	<li id="home-link" data-hook><%= link_to t(:home), root_path %></li>
  	<li class="li-category">
  		<a href="#">Categories</a>
  		<ul class="span10" class="ul-child">
  		  <div class="row-fluid" style="padding-top: 20px;">  		  
  		        <li class="span6"><a href="#">Category</a>
  		          <ol class="list-category">
                  <li><a href="#">Category 01</a></li>
                  <li><a href="#">Category 02</a></li>
                  <li><a href="#">Category 03</a></li>
                  <li><a href="#">Category 04</a></li>
                  <li><a href="#">Category 05</a></li>
                  <li><a href="#">Category 06</a></li>
                </ol>
  		        </li>
              <li class="span6" ><a href="#">Category 02</a>
                <ol class="list-category">
                  <li><a href="#">Category 01</a></li>
                  <li><a href="#">Category 02</a></li>
                  <li><a href="#">Category 03</a></li>
                  <li><a href="#">Category 04</a></li>
                  <li><a href="#">Category 05</a></li>
                  <li><a href="#">Category 06</a></li>
                </ol>
              </li>             	
  			</div>
  		</ul>
  	</li>
  	<li><a href="/about">About</a>
    	<ul class="ul-child">
        <li><a href="/our_brand">our brand</a></li>
        <li><a href="/press_media">press &amp; media</a></li>
        <li><a href="/shipping">shipping</a></li>
        <li><a href="#">legal</a>
          <ul class="ul-child">
            <li><a href="/ip_fakes">ip &amp; fakes</a></li>
            <li><a href="/terms_conditions">t &amp; c's'</a></li>
            <li><a href="/privacy">privacy</a></li>
          </ul>
        </li>
      </ul>
    </li>
  	<li><a href="/contact">Contact</a>
  	  <ul class="ul-child">
        <li><a href="/support">support</a></li>
        <li><a href="#">trade</a>
           <ul class="ul-child">
            <li><a href="/distribution">distribution</a></li>
            <li><a href="/resellers">resellers</a></li>
            <li><a href="/promotional">promotional</a></li>
            <li><a href="/corporate">corporate</a></li>
            <li><a href="/affiliates">affiliates</a></li>
          </ul>
        </li>
        <li><a href="/pr_contact">pr contacts</a></li>
      </ul>
  	</li>
	</div>
</ul>
</nav>
<script>
	$(function() {
  if ($.browser.msie && $.browser.version.substr(0,1)<7)
  {
	$('li').has('ul').mouseover(function(){
		$(this).children('ul').css('visibility','visible');
		}).mouseout(function(){
		$(this).children('ul').css('visibility','hidden');
		})
  }
}); 
</script>
