<!DOCTYPE html>
<html>
<head>
  <title>ScrumTobe - Spree 2 Demo</title>
  <link href="/assets/scrum2b_logo.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
